/* Fonts */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
         url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
         url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
         url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Variables */

:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-gray: #666666;
    --basic-red: #E74246;
    --basic-green: #00BC6C;
    --basic-yellow: #EAB534;
    --basic-light-white: #D7DCDE;
    --basic-light-yellow: #EFC84A;
    --basic-light-green: #00CA74;
    --basic-light-red: #FB565A;
    --basic-light-black: #283136;
    --basic-light-gray: #EEEEEE;
    --basic-dark-white: #B4B9BB;
    --basic-dark-yellow: #E5A722;
    --basic-dark-gray: #444444;
    --basic-dark-red: #D7373B;
    --basic-dark-green: #00AA62;
    --basic-other-black: #231F20;
    --basic-other-gray: #ABABAB;
    --basic-other-white: #CFCFCF;
    --basic-other-light-gray: #C1C1C1;
    --basic-extra-dark-gray: #D5D5D5;
    --basic-extra-gray: #DFDFDF;
    --basic-extra-light-gray: #DBDBDB;
    --basic-extra-other-gray: #E1E1E1;
    --basic-extra-black: rgba(0, 0, 0, 0.3);
    --basic-extra-light-black: rgba(0, 0, 0, 0.4);
    --basic-extra-dark-black: rgba(0, 1, 1, 0.25);
    --basic-extra-other-black: rgba(0, 0, 0, 0.0001);
}

/* Global */

.page-body {
    min-width: 960px;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-light-black);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

img {
    max-width: 100%;
    height: auto;
}

/* Grid */

.page {
    height: 100%;
}

    /* Hidden Elements */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

    /* Header */

.main-header-logo {
    width: 160px;
    height: 66px;
    margin-top: -25px;
}

.main-header-logo img {
    margin-bottom: -10px;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.7;
}

.main-header-logo:active {
    opacity: 0.3;
}

.main-header-logo-current,
.main-header-logo-current:hover,
.main-header-logo-current:focus,
.main-header-logo-current:active {
    opacity: 1;
}

.main-header {
    background-color: var(--basic-light-gray);
}

.main-navigation {
    display: flex;
    width: 1160px;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 75px;
    padding: 0px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-black);
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 440px;
    margin: 0px;
    padding: 0px;
    margin-left: -40px;
}

.site-navigation li:not(:nth-of-type(4n)) {
    margin-right: 45px;
}

.cart::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon/cart-icon.svg");
    background-repeat: no-repeat;
}

.site-navigation a,
.cart {
    color: var(--basic-black);
    text-decoration: none;
}

.cart-wrapper {
    max-width: 140px;
}

.cart {
    padding-left: 40px;
    position: relative;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart:hover,
.cart:focus {
    color: var(--basic-light-red);
}

.site-navigation a:active,
.cart:active {
    color: var(--basic-extra-black);
}

    /* Footer */

.footer-index-columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    width: 1160px;
    margin: 70px auto;
    padding: 0px;
}

/* Footer Contacts */

.footer-contacts {
    position: relative;
}

.footer-contacts-wrapper {
    width: 1160px;
    padding: 54px 0px;
    margin: 0px auto;
}

.footer-contacts-info {
    position: relative;
    box-sizing: border-box;
    width: 319px;
    min-height: 308px;
    background-color: var(--basic-white);
    margin: 0px;
    padding: 45px 50px;
    z-index: 1;
}

.footer-contacts p {
    margin-top: 37px;
    margin-bottom: 0px;
}

.footer-contacts span:first-of-type {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-contacts span:last-of-type {
    color: var(--basic-gray);
}

.footer-address {
    font-style: normal;
    line-height: 18px;
    color: var(--basic-gray);
    margin-bottom: 15px;
}

.footer-phone {
    text-decoration: none;
    color: var(--basic-gray);
}

.footer-contacts iframe {
    position: absolute;
    background-color: var(--basic-light-gray);
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    min-height: 416px;
    border: none;
}

/* Footer Social */

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 261px;
}

.footer-social a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-light-black);
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background-color: var(--basic-extra-other-gray);
}

.social-button:hover,
.social-button:focus {
    background-color: var(--basic-red);
}

.social-button:active {
    background-color: var(--basic-dark-red);
}

.social-button:active img {
    opacity: 0.3;
}

/* Discount */

.discount span {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    margin-top: 5px;
    color: var(--basic-black);
}

.discount p {
    line-height: 22px;
    color: var(--basic-dark-gray);
    margin-top: 10px;
}

    /* Pop Up */

/* Write Us */

.write-us {
    position: fixed;
    top: 15px;
    right: 0;
    left: 0;
    bottom: auto;
    margin: auto;
    display: none;
    box-sizing: border-box;
    width: 960px;
    padding: 65px 100px;
    padding-bottom: 90px;
    box-shadow: 0px 20px 40px var(--basic-extra-light-black);
    background-color: var(--basic-white);
}

.write-us h2 {
    font-size: 45px;
    line-height: 53px;
    font-weight: bold;
    color: var(--basic-black);
    margin: 0px;
    margin-bottom: 20px;
}

.message-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}

.message-form p:last-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 50px;
}

.message-form label {
    display: inline-block;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.message-form input,
.message-form textarea {
    box-sizing: border-box;
    display: block;
    border: 2px solid var(--basic-light-white);
    border-radius: 3px;
    padding: 15px;
    width: 100%;
}

.message-form input::placeholder,
.message-form textarea {
    color: var(--basic-dark-white);
}

.message-form input:hover,
.message-form textarea:hover {
    border: 2px solid var(--basic-dark-white);
}

.message-form input:focus,
.message-form textarea:focus {
    border: 2px solid var(--basic-black);
}

.message-form input:focus::placeholder,
.message-form textarea:focus {
    color: var(--basic-dark-gray);
}

.write-us-close {
    position: absolute;
    top: 78px;
    right: 90px;
    width: 21px;
    height: 21px;
    border: none;
    cursor: pointer;
}

.write-us-close {
    background: url("../img/icon/close-icon.svg") no-repeat;
    opacity: 0.3;
}

.write-us-close:hover,
.write-us-close:focus {
    opacity: 1;
}

.write-us-close:active {
    opacity: 0.1;
}

    /* Buttons */

.button {
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    color: var(--basic-white);
    background-color: var(--basic-light-red);
    padding: 15px 55px;
    border: none;
    box-sizing: border-box;
    width: max-content;
    max-width: 100%;
    display: block;
}

.features-item .button {
    max-width: 360px;
}

.services-button {
    padding-right: 40px;
    padding-left: 40px;
}

.services-button-application {
    background-color: var(--basic-light-green);
}

.services-button-presentation {
    background-color: var(--basic-light-yellow);
}

.field-button {
    box-sizing: border-box;
    width: 260px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    background-color: var(--basic-light-gray);
    color: var(--basic-black);
}

.footer-contacts-button {
    padding-right: 44px;
    padding-left: 44px;
}

.price-button {
    padding-right: 70px;
    padding-left: 70px;
    margin-bottom: 45px;
    margin-right: auto;
    margin-left: auto;
}

.features-item-controls button {
    padding: 0px;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.features-item-controls .current-button {
    background-image: url("../img/icon/slide-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.write-us-button {
    box-sizing: border-box;
    width: 260px;
}

/* Buttons Conditions */

.button:hover,
.button:focus {
    background-color: var(--basic-red);
}

.services-button-application:hover,
.services-button-application:focus {
    background-color: var(--basic-green);
}

.services-button-presentation:hover,
.services-button-presentation:focus {
    background-color: var(--basic-yellow);
}

.button:active {
    background-color: var(--basic-dark-red);
    color: var(--basic-extra-black);
}

.services-button-application:active {
    background-color: var(--basic-dark-green);
}

.services-button-presentation:active {
    background-color: var(--basic-dark-yellow);
}

.field-button:hover,
.field-button:focus {
    background-color: var(--basic-extra-gray);
}

.field-button:active {
    background-color: var(--basic-extra-dark-gray);
    color: var(--basic-extra-black);
}

.features-item-controls {
    position: absolute;
    left: 536px;
    top: 317px;
    display: flex;
    width: 88px;
    justify-content: space-between;
}

.price-button:active {
    color: var(--basic-white);
}

    /* Main page */

/* Features */

.features {
    background-color: var(--basic-light-gray);
    box-sizing: border-box;
    min-height: 431px;
}

.features-wrapper {
    position: relative;
    width: 1160px;
    margin: 0px auto;
    padding: 0px;
}

.features-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

.features-item {
    display: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: 431px;
    padding: 75px 0px;
}

.features-item-current {
    display: block;
}

.features-item p {
    box-sizing: border-box;
    width: 416px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.features-item span {
    box-sizing: border-box;
    width: 520px;
    display: block;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
}

.features-item-first {
    background-image: url("../img/slide1.png");
}

.features-item-second {
    background-image: url("../img/slide2.png");
}

.features-item-third {
    background-image: url("../img/slide3.png");
}

/* Services */

.services {
    width: 1160px;
    margin: 0px auto;
    padding: 80px 0px;
    border-bottom: 2px solid var(--basic-light-gray);
}

.services-list {
    display: flex;
    column-gap: 100px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.services-item {
    padding-top: 170px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: top;
}

.services-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0px;
}

.services-item p {
    box-sizing: border-box;
    width: 260px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.services-item-website {
    background-image: url("../img/service1.png");
}

.services-item-application {
    background-image: url("../img/service2.png");
}

.services-item-presentation {
    background-image: url("../img/service3.png");
}

/* Index Columns */

.index-columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 140px;
    width: 1160px;
    margin: 40px auto;
    margin-bottom: 50px;
    padding: 0px;
}

/* About Us */

.about-us {
    margin-top: 35px;
}

.about-us p {
    margin-top: 35px;
    margin-bottom: 40px;
}

.about-us span:first-of-type {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: var(--basic-black);
}

.about-us span:last-of-type {
    font-weight: bold;
    text-transform: uppercase;
}

.about-us-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}

.about-us-item {
    position: relative;
    margin-bottom: 25px;
    padding-left: 34px;
}

.about-us-item::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0px;
    width: 25px;
    height: 2px;
    background-image: url("../img/icon/list-icon.svg");
    background-repeat: no-repeat;
}

/* Advantages */

.advantages {
    background-image: url("../img/advantage.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 245px;
}

.advantages span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
    text-align: center;
}

.advantages dl {
    box-sizing: border-box;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
}

.advantages dt {
    box-sizing: border-box;
    min-width: 100px;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    color: var(--basic-black);
}

.advantages dd {
    box-sizing: border-box;
    width: 100px;
    line-height: 18px;
    order: 1;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
}

.advantages sup {
    font-size: 25px;
    line-height: 45px;
  }

/* Clients */

.clients {
    width: 1160px;
    margin: 0px auto;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 23px;
    margin-bottom: 80px;
    border-top: 2px solid var(--basic-light-gray);
    border-bottom: 2px solid var(--basic-light-gray);
}

.clients-list {
     display: grid;
     grid-template-columns: repeat(4, 260px);
     grid-gap: 40px;
     list-style: none;
     padding: 0px;

}

.clients-item {
    position: relative;
    display: flex;
    justify-content: center;
    width: 260px;
    margin: 0 40px 5px 0;
}
  
.clients-item:not(:nth-child(4n))::after {
    content: "";
    position: absolute;
    top: 25px;
    right: -22px;
    width: 2px;
    height: 52px;
    background-color: var(--basic-light-gray);
}

.clients-item a {
    opacity: 0.2;
    align-self: center;
    display: flex;

}

.clients-item a:hover,
.clients-item a:focus {
    opacity: 1;
}

.clients-item a:active {
    opacity: 0.1;
}

    /* Inner Page */

/* Header */

.site-navigation .site-navigation-item-current a,
.site-navigation .site-navigation-item-current a:hover,
.site-navigation .site-navigation-item-current a:focus,
.site-navigation .site-navigation-item-current a:active {
    color: var(--basic-black);
}

.site-navigation .site-navigation-item-current {
    border-bottom: 2px solid var(--basic-light-red);
}

/* Inner Page Grid */

.products {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
    align-content: start;
    width: 1160px;
    margin: 55px auto;
    margin-bottom: 60px;
    padding: 0px;
}

    /* Filter Form */

.inner-page-heading {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: var(--basic-black);
    background-color: var(--basic-light-gray);
    margin-top: 0px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 110px;
}

.filter-form legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
}

.filter-form label {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Price Field Form */

.price-field {
    margin: 0px;
    padding: 0px;
}

.range-price-field {
    width: 260px;
    margin-top: 50px;
}

.range-controls {
    position: relative;
    height: 41px;
    background-color: var(--basic-light-gray);
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
}

.range-controls .scale {
    height: 2px;
    background: var(--basic-light-white);
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--basic-light-green);
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--basic-other-gray);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--basic-other-white);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}
  
.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls label {
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: inherit;
    border: none;
    border-radius: 5px;
    background: var(--basic-light-gray);
    font-family: inherit;
    font-size: inherit;
}

/* Other Field Forms */

.grid-field-symbol + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    width: 25px;
    height: 25px;
    opacity: 0.4;
    background-image: url("../img/icon/radio-icon.svg");
    background-repeat: no-repeat;
}

.features-field-symbol + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 25px;
    height: 23px;
    opacity: 0.4;
    background-image: url("../img/icon/checkbox-icon.svg");
    background-repeat: no-repeat;
}

.grid-field-symbol:hover + label::before,
.features-field-symbol:hover + label::before,
.grid-field-symbol:focus + label::before,
.features-field-symbol:focus + label::before {
    opacity: 1;
}

.grid-field-symbol:checked + label::before {
    background-image: url("../img/icon/radio-icon-checked.svg");
    background-repeat: no-repeat;
}

.features-field-symbol:checked + label::before {
    background-image: url("../img/icon/checkbox-icon-checked.svg");
    background-repeat: no-repeat;
}

.field-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 20px;
    color: var(--basic-light-black);
}

.field-list li {
    margin-top: 20px;
    padding-left: 35px;
}

.filter-form fieldset {
    padding: 0px;
    margin: 0px;
    margin-bottom: 55px;
    border: none;
}

.filter-form .grid-field {
    margin-bottom: 40px;
}

.filter-form .features-field {
    margin-bottom: 50px;
}

/* Sort */

.sort {
    display: grid;
    grid-template-columns: 360px 360px;
    grid-gap: 40px;
}

.sort-wrapper {
    display: grid;
    grid-template-columns: 272px 41px;
    grid-gap: 47px;
}

.products span {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
}

.sort-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.sort-item a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    opacity: 0.3;
}

.sort-item a:hover,
.sort-item a:focus {
    opacity: 0.6;
}

.sort-item a:active {
    opacity: 1;
}

.sort-item-current a,
.sort-item-current a:hover,
.sort-item-current a:focus,
.sort-item-current a:active {
    opacity: 1;
}

/* Cursors */

.cursors-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.cursors-list a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-light-black);
}

.cursor-item-up a {
    opacity: 0.2;
}

.cursor-item-up a:hover,
.cursor-item-up a:focus {
    opacity: 1;
}

.cursor-item-up a:active path {
    fill: var(--basic-other-black);
}

/* Products */

.products-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    list-style: none;
    margin: 0px;
    margin-top: 50px;
    padding: 0px;
}

.products-item {
    position: relative;
    width: 358px;
    height: 618px;
    margin-bottom: 30px;
    text-align: center;
}

.products-item img {
    box-sizing: border-box;
    object-fit: contain;
    background-color: var(--basic-light-gray);
    background: url("../img/icon/product-icon-white.png") no-repeat;
    background-position: top;
    margin-bottom: -5px;
    padding-top: 40px;
    border-radius: 5px;
    border: 1px solid var(--basic-light-gray);
}

.products-item a {
    display: block;
    width: 358px;
    height: 618px;
}

.products-item:hover img,
.products-item:focus img {
    background: url("../img/icon/product-icon.png") no-repeat;
    background-color: var(--basic-dark-gray);
    box-shadow: 0px 6px 15px var(--basic-extra-dark-black);
    border: none;
}

.products-item h3 {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-top: 25px;
}

.products-item h3:hover,
.products-item h3:focus {
    color: var(--basic-light-red);
}

.products-item h3:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.products-item p {
    line-height: 18px;
    color: var(--basic-gray);
    text-align: center;
    margin: 0px;
    margin-bottom: 30px;
}

.products-item-info {
    display: none;
    position: absolute;
    box-sizing: border-box;
    width: 358px;
    min-height: 231px;
    background-color: var(--basic-light-gray);
    bottom: -1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 50px;
}

.products-item:hover .products-item-info,
.products-item:focus .products-item-info,
.products-item:focus-within .products-item-info {
    display: block;
}

/* Pagination */

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 11px;
    list-style: none;
    margin: 0px;
    margin-top: 25px;
    padding: 0px;
}

.pagination-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 0px 20px;
    height: 50px;
    text-decoration: none;
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-black);
    background-color: var(--basic-light-gray);
    border-radius: 3px;
}

.pagination-item:last-of-type a {
    width: 260px;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: var(--basic-extra-gray);
}

.pagination-item a:active {
    background-color: var(--basic-extra-dark-gray);
    color: var(--basic-extra-black);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    background: var(--basic-extra-other-black);
    color: var(--basic-black);
    border: 3px solid var(--basic-extra-light-gray);
    padding: 0px 18px;
}