/* Fonts */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
         url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
         url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
         url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* Variables */

:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-gray: #666666;
    --basic-red: #E74246;
    --basic-green: #00BC6C;
    --basic-yellow: #EAB534;
    --basic-light-white: #D7DCDE;
    --basic-light-yellow: #EFC84A;
    --basic-light-green: #00CA74;
    --basic-light-red: #FB565A;
    --basic-light-black: #283136;
    --basic-light-gray: #EEEEEE;
    --basic-dark-white: #B4B9BB;
    --basic-dark-yellow: #E5A722;
    --basic-dark-gray: #444444;
    --basic-dark-red: #D7373B;
    --basic-dark-green: #00AA62;
    --basic-extra-dark-gray: #D5D5D5;
    --basic-extra-gray: #DFDFDF;
    --basic-extra-light-gray: #DBDBDB;
    --basic-extra-other-gray: #E1E1E1;
    --basic-extra-black: rgba(0, 0, 0, 0.3);
    --basic-extra-light-black: rgba(0, 0, 0, 0.4);
    --basic-extra-dark-black: rgba(0, 1, 1, 0.25);
    --basic-extra-other-black: rgba(0, 0, 0, 0.0001);
}

/* Global */

.page-body {
    min-width: 960px;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-light-black);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

img {
    max-width: 100%;
    height: auto;
}

/* Grid */

.page {
    height: 100%;
}

    /* Hidden Elements */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

    /* Header */

.main-header-logo {
    width: 160px;
    height: 66px;
    margin-top: -25px;
}   

.main-header-logo:active {
    opacity: 0.3;
}

.main-header-logo-current,
.main-header-logo-current:hover,
.main-header-logo-current:focus,
.main-header-logo-current:active {
    opacity: 1;
}

.main-header {
    background-color: var(--basic-light-gray);
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0px auto;
    margin-top: 75px;
    padding: 0px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-black);
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 440px;
    margin: 0;
    padding: 0;
}

.site-navigation li:not(:nth-of-type(4n)) {
    margin-right: 45px;
}

.cart::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon/cart-icon.svg");
    background-repeat: no-repeat;
}

.site-navigation a,
.cart {
    color: var(--basic-black);
    text-decoration: none;
}

.cart-wrapper {
    max-width: 140px;
}

.cart {
    padding-left: 40px;
    position: relative;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart:hover,
.cart:focus {
    color: var(--basic-light-red);
}

.site-navigation a:active,
.cart:active {
    color: var(--basic-extra-black);
}

    /* Footer */

.footer-index-columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    width: 1160px;
    margin: 70px auto;
    padding: 0px;
}

/* Footer Contacts */

.footer-contacts-wrapper {
    box-sizing: border-box;
    width: 319px;
    height: 308px;
    background-color: var(--basic-white);
    left: 140px;
    top: 54px;
    margin: 0px;
    padding: 50px;
    position: absolute;
}

.footer-contacts {
    position: relative;
}

.footer-contacts p {
    margin-top: 37px;
}

.footer-contacts span {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.footer-address {
    font-style: normal;
    line-height: 18px;
    color: var(--basic-gray);
    margin-bottom: 20px;
}

.footer-phone {
    text-decoration: none;
    color: var(--basic-gray);
}

.footer-contacts img {
    background-color: var(--basic-light-gray);
}

/* Footer Social */

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 261px;
}

.footer-social a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-light-black);
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: var(--basic-extra-other-gray);
}

.social-button:hover,
.social-button:focus {
    background-color: var(--basic-red);
}

.social-button:active {
    background-color: var(--basic-dark-red);
}

.social-button:active img {
    opacity: 0.3;
}

/* Discount */

.discount span {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: var(--basic-black);
}

.discount p {
    line-height: 22px;
    color: var(--basic-dark-gray);
}

    /* Pop Up */

/* Write Us */

.write-us {
    box-shadow: 0px 20px 40px var(--basic-extra-light-black);
}

.write-us h2 {
    font-size: 45px;
    line-height: 53px;
    font-weight: bold;
    color: var(--basic-black);
}

.message-form label {
    line-height: 18px;
    font-weight: bold;
    color: var(--basic-black);
}

.message-form input {
    border: 2px solid var(--basic-light-white);
    border-radius: 3px;
}

.message-form input:hover {
    border: 2px solid var(--basic-dark-white);
}

.message-form input:focus {
    border: 2px solid var(--basic-black);
}

.write-us-close {
    background: url("../img/icon/close-icon.svg") no-repeat;
    opacity: 0.3;
}

.write-us-close:hover,
.write-us-close:focus {
    opacity: 1;
}

.write-us-close:active {
    opacity: 0.1;
}

    /* Buttons */

.button {
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    color: var(--basic-white);
    background-color: var(--basic-light-red);
    padding: 15px 55px;
}

.services-button {
    padding-right: 40px;
    padding-left: 40px;
}

.services-button-application {
    background-color: var(--basic-light-green);
}

.services-button-presentation {
    background-color: var(--basic-light-yellow);
}

.field-button {
    background-color: var(--basic-light-gray);
    color: var(--basic-black);
}

.footer-contacts-button {
    padding-right: 44px;
    padding-left: 44px;
}

/* Buttons Conditions */

.button:hover,
.button:focus {
    background-color: var(--basic-red);
}

.services-button-application:hover,
.services-button-application:focus {
    background-color: var(--basic-green);
}

.services-button-presentation:hover,
.services-button-presentation:focus {
    background-color: var(--basic-yellow);
}

.button:active {
    background-color: var(--basic-dark-red);
    color: var(--basic-extra-black);
}

.services-button-application:active {
    background-color: var(--basic-dark-green);
}

.services-button-presentation:active {
    background-color: var(--basic-dark-yellow);
}

.field-button:hover,
.field-button:focus {
    background-color: var(--basic-extra-gray);
}

.field-button:active {
    background-color: var(--basic-extra-dark-gray);
    color: var(--basic-extra-black);
}

    /* Main page */

/* Features */

.features {
    background-color: var(--basic-light-gray);
    box-sizing: border-box;
    height: 431px;
}

.features-list {
    list-style: none;
    width: 1160px;
    margin: 0px auto;
    padding: 0px;
  }

.features-item {
    box-sizing: border-box;
    height: 431px;
    background-repeat: no-repeat;
    background-position: right top;
}

.features-item p {
    margin-top: 30px;
    margin-bottom: 40px;
}

.features-item span {
    display: block;
    padding-top: 80px;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
}

.features-item-first {
    background-image: url("../img/slide1.png");
}

.features-item-second {
    background-image: url("../img/slide2.png");
}

.features-item-third {
    background-image: url("../img/slide3.png");
}

/* Services */

.services {
    width: 1160px;
    margin: 0px auto;
    padding: 80px 0px;
    border-bottom: 2px solid var(--basic-light-gray);
}

.services-list {
    display: flex;
    column-gap: 100px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.services-item {
    padding-top: 170px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: top;
}

.services-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0px;
}

.services-item p {
    box-sizing: border-box;
    width: 260px;
    margin-top: 15px;
    margin-bottom: 45px;
}

.services-item-website {
    background-image: url("../img/service1.png");
}

.services-item-application {
    background-image: url("../img/service2.png");
}

.services-item-presentation {
    background-image: url("../img/service3.png");
}

/* Index Columns */

.index-columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 140px;
    width: 1160px;
    margin: 40px auto;
    padding: 0px;
    margin-bottom: 70px;
}

/* About Us */

.about-us {
    margin-top: 30px;
}

.about-us p {
    margin-top: 30px;
    margin-bottom: 40px;
}

.about-us span:first-of-type {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: var(--basic-black);
}

.about-us span:last-of-type {
    font-weight: bold;
    text-transform: uppercase;
}

.about-us-list {
    list-style: none;
    margin-top: 25px;
}

.about-us-item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 34px;
}

.about-us-item::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0px;
    width: 25px;
    height: 2px;
    background-image: url("../img/icon/list-icon.svg");
    background-repeat: no-repeat;
}

/* Advantages */

.advantages {
    background-image: url("../img/advantage.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 245px;
}

.advantages span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
    text-align: center;
}

.advantages dl {
    box-sizing: border-box;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 0px;
    margin: 0px;
    margin-top: 35px;
}

.advantages dt {
    font-size: 45px;
    line-height: 64px;
    font-weight: bold;
    color: var(--basic-black);
}

.advantages dd {
    box-sizing: border-box;
    width: 100px;
    line-height: 18px;
    order: 1;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

/* Clients */

.clients {
    width: 1160px;
    margin: 0px auto;
    padding: 40px 0px;
    margin-bottom: 80px;
    border-top: 2px solid var(--basic-light-gray);
    border-bottom: 2px solid var(--basic-light-gray);
}

.clients-list {
     display: grid;
     grid-template-columns: repeat(4, 260px);
     grid-gap: 40px;
     list-style: none;
     padding: 0px;

}

.clients-item {
    margin: auto;
}

.clients-item a {
    opacity: 0.2;
}

.clients-item a:hover,
.clients-item a:focus {
    opacity: 1;
}

.clients-item a:active {
    opacity: 0.1;
}

    /* Inner Page */

/* Header */

.site-navigation .site-navigation-item-current a,
.site-navigation .site-navigation-item-current a:hover,
.site-navigation .site-navigation-item-current a:focus,
.site-navigation .site-navigation-item-current a:active {
    color: var(--basic-black);
}

.site-navigation .site-navigation-item-current {
    border-bottom: 2px solid var(--basic-light-red);
}

/* Inner Page Grid */

.products {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
    align-content: start;
    width: 1160px;
    margin: 60px auto;
    padding: 0px;
}

/* Filter Form */

.inner-page-heading {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: var(--basic-black);
    background-color: var(--basic-light-gray);
    margin-top: 0px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
}

.filter-form legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-bottom: 15px;
}

.field-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 20px;
    color: var(--basic-light-black);
}

.field-list li {
    margin-bottom: 15px;
}

.filter-form fieldset {
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
    border: none;
}

/* Sort */

.sort {
    display: flex;
}

.products span {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
}

.sort-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.sort-item a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    opacity: 0.3;
}

.sort-item a:hover,
.sort-item a:focus {
    opacity: 0.6;
}

.sort-item a:active {
    opacity: 1;
}

.sort-item-current a,
.sort-item-current a:hover,
.sort-item-current a:focus,
.sort-item-current a:active {
    opacity: 1;
}

/* Cursors */

.cursors-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.cursors-list a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-light-black);
}

.cursor-item-down a {
    background: url("../img/icon/cursor-down-black.svg") no-repeat;
}

.cursor-item-up a {
    background: url("../img/icon/cursor-up-gray.svg") no-repeat;
    opacity: 0.2;
}

.cursor-item-up a:hover,
.cursor-item-up a:focus {
    opacity: 1;
}

.cursor-item-up a:active {
    background: url("../img/icon/cursor-up-black.svg") no-repeat;
}

/* Products */

.products-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 55px;
}

.products-item {
    width: 360px;
    min-height: 620px;
    margin-bottom: 30px;
}

.products-item img {
    background: url("../img/icon/product-icon-white.png") no-repeat;
    background-color: var(--basic-light-gray);
    border-radius: 5px;
    width: 360px;
    height: 578px;
}

.products-item img:hover,
.products-item img:focus {
    background: url("../img/icon/product-icon.png") no-repeat;
    background-color: var(--basic-dark-gray);
    box-shadow: 0px 6px 15px var(--basic-extra-dark-black);
}

.products-item h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
}

.products-item h3:hover,
.products-item h3:focus {
    color: var(--basic-light-red);
}

.products-item h3:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.products-item p {
    line-height: 18px;
    color: var(--basic-gray);
}

.products-item-info {
    background-color: var(--basic-light-gray);
}

/* Pagination */

.pagination-list {
    list-style: none;
}

.pagination-item a {
    text-decoration: none;
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-black);
    background-color: var(--basic-light-gray);
    border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: var(--basic-extra-gray);
}

.pagination-item a:active {
    background-color: var(--basic-extra-dark-gray);
    color: var(--basic-extra-black);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    background: var(--basic-extra-other-black);
    color: var(--basic-black);
    border: 3px solid var(--basic-extra-light-gray);
}